<div class="container">
  <div class="p-2 flex-grow-1 bd-highlight"><h1 class="mat-h1">{{title}}</h1></div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th style="width:50px">Id</th>
      <th>Name</th>
      <th>Last Edit</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let menu of menus; index as index">
      <tr class="clickable" (click)="selectMenu(menu)" [ngClass]="{ 'table-secondary': isSelected(menu)}">
        <td>{{menu.id}}</td>
        <td>
          <app-editable (update)="updateField(index, 'title')">
            <ng-template appViewMode>{{menu.name}}</ng-template>
            <ng-template appEditMode>
              <input appEditableOnEnter appEditableOnEscape class="form-control" [formControl]="getControl(index, 'name')" focusable>
            </ng-template>
          </app-editable>
        </td>
        <td>{{menu.lastEditDate | date}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2">
      <button mat-raised-button type="button" color="primary" class="ma-2" (click)="addNew()">New</button>
    </div>
    <div class="p-2">
      <button mat-raised-button type="button" color="accent" class="ma-2" [disabled]="selected == null" (click)="goToMenu()">Revise Menu Items</button>
    </div>
    <div class="p-2">
      <button mat-raised-button type="button" color="warn" class="ma-2" (click)="remove()" [disabled]="selected == null || selected.id == null">Delete</button>
    </div>
  </div>

  <div class="w-100" [ngClass]="{ 'visually-hidden': editing == null }">
    <hr/>
    <app-menu-form #menuForm (onSave)="onSave($event)"></app-menu-form>
  </div>
</div>
