<div class="container">
<!--  <div style="display:flex; flex-wrap: wrap">-->
<!--    <ng-container *ngFor="let item of menuItems">-->
<!--      <app-menu-item-card [menuItem]="item"></app-menu-item-card>-->
<!--    </ng-container>-->
<!--  </div>-->

  <div class="row align-items-start">
    <ng-container *ngFor="let item of menuItems">
      <div class="col-lg-4 col-sm-6 col-xs-12 p-3">
        <app-menu-item-card [menuItem]="item"></app-menu-item-card>
      </div>
    </ng-container>

  </div>

</div>

