<div class="container">
  <div class="d-flex justify-content-end">
    <mat-button-toggle-group #mode="matButtonToggleGroup" value="menu">
      <mat-button-toggle value="menu" aria-label="Menu Mode">
        <mat-icon>dashboard_customize</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list" aria-label="List">
        <mat-icon>list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <ng-container *ngIf="mode.value == 'menu'">
    <div class="row align-items-start">
      <ng-container *ngFor="let item of menuItems; index as index">
        <div class="col-lg-4 col-sm-6 col-xs-12 p-3">
          <app-menu-item-card [menuItem]="item">
            <ng-container title>
              <app-editable (update)="updateField(index, 'title')">
                <ng-template appViewMode>{{item.title}}</ng-template>
                <ng-template appEditMode>
                  <input appEditableOnEnter appEditableOnEscape class="form-control" [formControl]="getControl(index, 'title')" focusable>
                </ng-template>
              </app-editable>
            </ng-container>
            <ng-container image>
              <app-editable (update)="updateField(index, 'image')" class="mat-card-image">
                <ng-template appViewMode>
                  <img mat-card-image src="{{item.image}}" alt="Image alt text" height="200px" class="m-0">
                </ng-template>
                <ng-template appEditMode>
                  <input appEditableOnEnter appEditableOnEscape class="form-control" [formControl]="getControl(index, 'image')" focusable>
                </ng-template>
              </app-editable>
            </ng-container>
            <ng-container price>
              <app-editable (update)="updateField(index, 'price')">
                <ng-template appViewMode>
                  <h3 class="mt-2">{{item.price | currency}}</h3>
                </ng-template>
                <ng-template appEditMode>
                  <input appEditableOnEnter appEditableOnEscape class="form-control m-2" [formControl]="getControl(index, 'price')" focusable
                         currencyMask [options]="{ align: 'left', precision: 2, prefix: '$ ' }">
                </ng-template>
              </app-editable>
            </ng-container>

            <ng-container description>
              <app-editable (update)="updateField(index, 'description')">
                <ng-template appViewMode>
                  <p>{{item.description | slice:0 : 130}}...</p>
                </ng-template>
                <ng-template appEditMode>
                  <textarea appEditableOnEnter appEditableOnEscape matInput rows="4" class="form-control" [formControl]="getControl(index, 'description')" focusable></textarea>
                </ng-template>
              </app-editable>
            </ng-container>
          </app-menu-item-card>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <!-- Classic list type display-->
  <ng-container *ngIf="mode.value == 'list'">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Image</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of menuItems; index as index">
        <tr class="clickable" [ngClass]="{ 'table-success': isSelected(item)}">
          <td>{{item.id}}</td>
          <td>
            <app-editable (update)="updateField(index, 'title')">
              <ng-template appViewMode>{{item.title}}</ng-template>
              <ng-template appEditMode>
                <input appEditableOnEnter appEditableOnEscape class="form-control" [formControl]="getControl(index, 'title')" focusable>
              </ng-template>
            </app-editable>
          </td>
          <td>
            <app-editable (update)="updateField(index, 'image')">
              <ng-template appViewMode>{{item.image | slice:0 : 30}}...</ng-template>
              <ng-template appEditMode>
                <input appEditableOnEnter appEditableOnEscape class="form-control" [formControl]="getControl(index, 'image')" focusable>
              </ng-template>
            </app-editable>
          </td>
          <td>
            <app-editable (update)="updateField(index, 'description')">
              <ng-template appViewMode>{{item.description | slice:0 : 30}}...</ng-template>
              <ng-template appEditMode>
                <textarea appEditableOnEnter appEditableOnEscape matInput rows="4" class="form-control" [formControl]="getControl(index, 'description')" focusable></textarea>
              </ng-template>
            </app-editable>
          </td>
          <td>
            <app-editable (update)="updateField(index, 'price')">
              <ng-template appViewMode>{{item.price | currency:'USD':'symbol':'1.2-2'}}</ng-template>
              <ng-template appEditMode>
                <input appEditableOnEnter appEditableOnEscape class="form-control" [formControl]="getControl(index, 'price')" focusable
                       currencyMask [options]="{ align: 'left', precision: 2, prefix: '$ ' }">
              </ng-template>
            </app-editable>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <mat-progress-bar *ngIf="fetchingResults" mode="indeterminate"></mat-progress-bar>

    <div class="d-flex">
      <div class="m-1 w-100">
        <button mat-raised-button type="button" color="primary" class="ma-2" (click)="fakeItem()">Fake Item</button>
      </div>
      <div class="m-1 flex-shrink-1">
        <button mat-raised-button type="button" color="warn" class="ma-2" (click)="remove()" [disabled]="selected == null || selected.id == null">Delete</button>
      </div>
      <div class="m-1 flex-shrink-1">
        <button mat-raised-button type="button" color="primary" class="ma-2" (click)="addNew(newItem)">New</button>
      </div>
    </div>

    <div [ngClass]="{ 'visually-hidden': editing == null }">
      <hr/>
      <app-menu-item-form #menuItemForm (onSave)="onSave($event)"></app-menu-item-form>
    </div>
  </ng-container>
</div>
